main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: var(--content-gap);
    row-gap: var(--content-gap);
    grid-column-gap: 0;
    column-gap: 0;
    grid-gap: var(--content-gap) 0;
    gap: var(--content-gap) 0;
}

article {
    grid-column: 1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: calc(var(--content-gap) / 2);
    row-gap: calc(var(--content-gap) / 2);
    grid-column-gap: 0;
    column-gap: 0;
    grid-gap: calc(var(--content-gap) / 2) 0;
    gap: calc(var(--content-gap) / 2) 0;
}

article h1 {
    grid-column: 1;
    grid-row: 1 / 2;
    margin: 0;
    font-size: 1.5em;
}

article h1 small {
    display: block;
    font-size: 0.65em;
}

article p {
    grid-column: 1;
    grid-row: 2 / 3;
    text-align: justify;
}

#forbes_list {
    grid-column: 1;
    grid-row: 2 / 3;
}

#forbes_list span {
    display: block;
    margin-bottom: calc(var(--content-gap) / 2);
}

#forbes_list span i {
    display: inline-block;
    height: 14px;
    width: 100px;
    color: transparent;
    background-image: url(/images/forbes.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 52px;
    margin-left: 2px;
    overflow: hidden;
}

#forbes_list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#forbes_list ul li {
    font-weight: 700;
    margin-top: calc(var(--content-gap) / 2);
}

#forbes_list ul li:first-child {
    margin-top: 0;
}

address {
    grid-column: 1;
    grid-row: 3 / 4;
    font-size: 0.75em;
}

#vadim {
    grid-column: 1;
    grid-row: 4 / 5;
    text-align: right;
}

#vadim img {
    max-width: 100%;
}

@media all and (min-width: 576px) {
    article h1 {
        font-size: 1.65em;
    }
}

@media all and (min-width: 768px) {
    article h1 {
        font-size: 1.75em;
    }
}

@media all and (min-width: 992px) {
    article h1 {
        font-size: 1.9em;
    }
}

@media all and (min-width: 1200px) {
    main {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: min-content min-content auto var(--footer-h);
        grid-row-gap: var(--content-gap);
        row-gap: var(--content-gap);
        grid-column-gap: var(--content-gap);
        column-gap: var(--content-gap);
        grid-gap: var(--content-gap);
        gap: var(--content-gap);
    }

    article {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        background-color: var(--color-2-opacity);
        padding-right: var(--content-gap);
        padding-bottom: var(--content-gap);
        border-radius: 5px;
    }

    article h1 {
        font-size: 1.9em;
    }

    article p {
        text-align: left;
    }

    #forbes_list {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        background-color: var(--color-2-opacity);
        padding-right: var(--content-gap);
        padding-bottom: var(--content-gap);
        border-radius: 5px;
    }

    #forbes_list span i {
        height: 18px;
        background-size: 57px;
    }

    address {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    #vadim {
        grid-column: 4 / 7;
        grid-row: 1 / 5;
        position: relative;
    }

    #vadim img {
        max-width: 100%;
        max-height: 105%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media all and (min-width: 1600px) {
    article h1 {
        font-size: 2.2em;
    }

    #forbes_list span i {
        height: 21px;
        background-size: 68px;
    }
}

@media all and (min-width: 1900px) {
    article h1 {
        font-size: 2.4em;
    }
}
