@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400&family=Roboto:wght@300;700&display=swap');

html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
}

body {
    background-image: url('/images/bg-lines-834-min.png');
    background-size: 145%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #960202;
}

a:hover, a:focus {
    color: #ffffff;
    background-color: #960202;
}

#main_header {
    overflow: hidden;
}

#main_header a {
    display: block;
    margin: 25px 60% 0 25px;
    background-color: rgba(255, 255, 255, 0);
    color: transparent;
    text-decoration: none;
}

main {
    padding: 15px 15px 0;
}

main#policy {
    padding-bottom: 40px;
}

main article {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 10px 0;
    margin: 0;
}

main article h1 {
    font-size: 25px;
}

main article h1 small {
    display: block;
    font-size: 22px;
}

main article h2 {
    font-size: 20px;
    margin-top: 25px;
}

main article p {
    margin-top: 15px;
    text-align: justify;
}

#forbes_list {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px 10px 0;
    margin: 0;
}

#forbes_list span i {
    display: inline-block;
    height: 14px;
    width: 100px;
    color: transparent;
    background-image: url(/images/forbes.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 52px;
    margin-left: 2px;
    overflow: hidden;
}

#forbes_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#forbes_list ul li {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
}

main address {
    display: block;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px 10px 0;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#vadim {
    display: block;
    max-width: 100%;
    margin-top: 25px;
}

#main_footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 9px;
    text-align: center;
    padding: 5px 0;
}

@media (min-width: 576px) {
    body {
        background-image: url('/images/bg-lines-883-min.png');
        background-size: 115%;
    }

    main {
        overflow: auto;
    }

    #forbes_list ul li {
        font-size: 15px;
    }

    #vadim {
        float: right;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }

    body {
        background-image: url('/images/bg-lines-892-min.png');
        background-size: 90%;
    }

    #main_header a {
        margin: 50px 70% 0 50px;
    }

    main {
        padding: 15px 40px 0;
    }

    main article h1 {
        font-size: 30px;
    }

    main article h1 small {
        display: block;
        font-size: 25px;
    }

    main article h2 {
        font-size: 22px;
        margin-top: 25px;
    }

    main address {
        font-size: 15px;
    }

    main#policy {
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 19px;
    }

    body {
        background-image: url('/images/bg-lines-876-min.png');
        background-size: 73%;
    }

    #main_header a {
        margin: 50px 75% 0 50px;
    }

    main article h1 {
        font-size: 40px;
    }

    main article h1 small {
        font-size: 30px;
    }

    main article h2 {
        font-size: 22px;
    }

    #forbes_list span i {
        height: 18px;
        background-size: 65px;
    }

    #forbes_list ul li {
        font-size: 19px;
    }

    #main_footer {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url('/images/bg-lines-1040-min.png');
        background-size: 65%;
    }

    main {
        padding-bottom: 50px;
    }

    main article {
        max-width: 65%;
        padding-right: 50px;
    }

    main#policy article {
        max-width: 100%;
        padding-right: 10px;
    }

    #forbes_list {
        max-width: 65%;
        padding-right: 50px;
    }

    main address {
        max-width: 65%;
        padding-right: 50px;
    }

    #vadim {
        max-width: 40%;
        max-height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 22px;
    }

    body {
        background-image: url('/images/bg-lines-1235-min.png');
        background-size: 65%;
    }

    main article h1 {
        font-size: 50px;
    }

    main article h1 small {
        font-size: 35px;
    }

    main article h2 {
        font-size: 25px;
    }

    #forbes_list ul li {
        font-size: 20px;
    }

    main address {
        font-size: 17px;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 24px;
    }

    body {
        background-image: url('/images/bg-lines-1665-min.png');
        background-size: 65%;
    }

    main article h1 {
        font-size: 55px;
    }

    main article h1 small {
        font-size: 40px;
    }

    main article h2 {
        font-size: 30px;
    }

    #forbes_list ul li {
        font-size: 22px;
    }

    main address {
        font-size: 19px;
    }
}
