@import 'global-properties.css';

main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0 calc(var(--side-gap) / 2);
    margin: 0 calc(var(--side-gap) / 2);
    background-color: var(--color-2-opacity);
}

main article {
    display: flex;
    flex-flow: column;
    gap: var(--content-gap) 0;
}

main article h1, h2 {
    margin: 0;
}

@media all and (min-width: 576px) {

}

@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {

}

@media all and (min-width: 1200px) {

}

@media all and (min-width: 1600px) {

}

@media all and (min-width: 1900px) {

}
