{% extends 'base.html.twig' %}

{% block description %}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block title %}Инвестиционный калькулятор | {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calculator.css?v=10721f') }}">
{% endblock %}

{% block main %}
    <h1>Инвестиционный калькулятор</h1>

    <nav>
        <a href="#income" v-bind:class="{ active: icIsActive }" @click.prevent="activeIncomeCalculator">
            накопление
        </a>
        <div class="separator"></div>
        <a href="#spend" v-bind:class="{ active: scIsActive }" @click.prevent="activeSpendCalculator">
            использование
        </a>
    </nav>

    <section class="calculator" id="income" v-show="icIsActive">
        <h2>Накопление</h2>

        <form v-on:submit.prevent="doIncomeCalc">
            <div class="form-row"
                 v-bind:class="{ disabled: icInitialAmountIsUnknown, focused: icInitialAmountIsFocused }"
            >
                <label class="field-label" for="ic-initial-amount">
                    Начальная сумма размещения:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: icInitialAmountIsUnknown }"
                           v-on:click.prevent="changeIcInitialAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icInitialAmountIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-initial-amount"
                       type="number"
                       min="0"
                       step="0.01"
                       v-on:input.prevent="setIcInitialAmountValue($event.target.value)"
                       v-on:focus="icInitialAmountIsFocused = true"
                       v-on:focusout="icInitialAmountIsFocused = false"
                       v-bind:value="icInitialAmountValue"
                       v-bind:readonly="icInitialAmountIsUnknown"
                       v-bind:required="icInitialAmountIsRequired"
                       v-bind:class="{ blink: icInitialAmountIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icRegularPaymentIsUnknown, focused: icRegularPaymentIsFocused }"
            >
                <label class="field-label" for="ic-regular-payment">
                    Сумма регулярного взноса:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: icRegularPaymentIsUnknown }"
                           v-on:click.prevent="changeIcRegularPaymentUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icRegularPaymentIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-regular-payment"
                       type="number"
                       min="0"
                       step="0.01"
                       v-on:input.prevent="setIcRegularPaymentValue($event.target.value)"
                       v-on:focus="icRegularPaymentIsFocused = true"
                       v-on:focusout="icRegularPaymentIsFocused = false"
                       v-bind:value="icRegularPaymentValue"
                       v-bind:readonly="icRegularPaymentIsUnknown"
                       v-bind:required="icRegularPaymentIsRequired"
                       v-bind:class="{ blink: icRegularPaymentIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ focused: icNumberOfRegularPaymentsPerYearIsFocused }"
            >
                <label class="field-label" for="ic-number-of-regular-payments-per-year">
                    Количество взносов в год:
                </label>
                <input class="field"
                       id="ic-number-of-regular-payments-per-year"
                       type="number"
                       min="0"
                       step="1"
                       v-on:input.prevent="setIcNumberOfRegularPaymentsPerYearValue($event.target.value)"
                       v-on:focus="icNumberOfRegularPaymentsPerYearIsFocused = true"
                       v-on:focusout="icNumberOfRegularPaymentsPerYearIsFocused = false"
                       v-bind:value="icNumberOfRegularPaymentsPerYearValue"
                       v-bind:class="{ blink: icNumberOfRegularPaymentsPerYearIsBlinked }"
                       required
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icNumberOfYearsIsUnknown, focused: icNumberOfYearsIsFocused }"
            >
                <label class="field-label" for="ic-number-of-years">
                    Количество лет:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: icNumberOfYearsIsUnknown }"
                           v-on:click.prevent="changeIcNumberOfYearsUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icNumberOfYearsIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-number-of-years"
                       type="number"
                       min="1"
                       step="1"
                       v-on:input.prevent="setIcNumberOfYearsValue($event.target.value)"
                       v-on:focus="icNumberOfYearsIsFocused = true"
                       v-on:focusout="icNumberOfYearsIsFocused = false"
                       v-bind:value="icNumberOfYearsValue"
                       v-bind:readonly="icNumberOfYearsIsUnknown"
                       v-bind:required="icNumberOfYearsIsRequired"
                       v-bind:class="{ blink: icNumberOfYearsIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icInterestRatePerYearIsUnknown, focused: icInterestRatePerYearIsFocused }"
            >
                <label class="field-label" for="ic-interest-rate-per-year">
                    Ставка размещения в % годовых:
                </label>
{#                <div class="unknown">#}
{#                    <label v-bind:class="{ checked: icInterestRatePerYearIsUnknown }"#}
{#                           v-on:click.prevent="changeIcInterestRatePerYearUnknowing"#}
{#                    >#}
{#                        <input type="checkbox" v-bind:checked="icInterestRatePerYearIsUnknown">#}
{#                        <span>неизвестная величина</span>#}
{#                    </label>#}
{#                </div>#}
                <input class="field"
                       id="ic-interest-rate-per-year"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setIcInterestRatePerYearValue($event.target.value)"
                       v-on:focus="icInterestRatePerYearIsFocused = true"
                       v-on:focusout="icInterestRatePerYearIsFocused = false"
                       v-bind:value="icInterestRatePerYearValue"
                       v-bind:readonly="icInterestRatePerYearIsUnknown"
                       v-bind:required="icInterestRatePerYearIsRequired"
                       v-bind:class="{ blink: icInterestRatePerYearIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icFinalAmountIsUnknown, focused: icFinalAmountIsFocused }"
            >
                <label class="field-label" for="ic-final-amount">
                    Сумма накопления:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: icFinalAmountIsUnknown }"
                           v-on:click.prevent="changeIcFinalAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icFinalAmountIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-final-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setIcFinalAmountValue($event.target.value)"
                       v-on:focus="icFinalAmountIsFocused = true"
                       v-on:focusout="icFinalAmountIsFocused = false"
                       v-bind:value="icFinalAmountValue"
                       v-bind:readonly="icFinalAmountIsUnknown"
                       v-bind:required="icFinalAmountIsRequired"
                       v-bind:class="{ blink: icFinalAmountIsBlinked }"
                >
            </div>

            <ul class="errors" style="display: none;" v-show="icIsErrorResult">
                <li v-for="error in icErrors">${ error }</li>
            </ul>

            <div>
                <button type="submit"
                        v-bind:class="{ disabled: icCalculationIsDisabled }"
                        v-on:click="doIncomeSubmit($event)"
                >
                    Рассчитать
                </button>
            </div>
        </form>
    </section>

    <section class="calculator" id="spend" style="display: none;" v-show="scIsActive">
        <h2>Использование</h2>

        <form v-on:submit.prevent="doSpendCalc">
            <div class="form-row"
                 v-bind:class="{ disabled: scInitialAmountIsUnknown, focused: scInitialAmountIsFocused }"
            >
                <label class="field-label" for="sc-initial-amount">
                    Начальная сумма:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: scInitialAmountIsUnknown }"
                           v-on:click.prevent="changeScInitialAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scInitialAmountIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-initial-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setScInitialAmountValue($event.target.value)"
                       v-on:focus="scInitialAmountIsFocused = true"
                       v-on:focusout="scInitialAmountIsFocused = false"
                       v-bind:value="scInitialAmountValue"
                       v-bind:readonly="scInitialAmountIsUnknown"
                       v-bind:required="scInitialAmountIsRequired"
                       v-bind:class="{ blink: scInitialAmountIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: scPaymentAmountIsUnknown, focused: scPaymentAmountIsFocused }"
            >
                <label class="field-label" for="sc-payment-amount">
                    Сумма выплаты:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: scPaymentAmountIsUnknown }"
                           v-on:click.prevent="changeScPaymentAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scPaymentAmountIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-payment-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setScPaymentAmountValue($event.target.value)"
                       v-on:focus="scPaymentAmountIsFocused = true"
                       v-on:focusout="scPaymentAmountIsFocused = false"
                       v-bind:value="scPaymentAmountValue"
                       v-bind:readonly="scPaymentAmountIsUnknown"
                       v-bind:required="scPaymentAmountIsRequired"
                       v-bind:class="{ blink: scPaymentAmountIsBlinked }"
                >
            </div>

            <div class="form-row" v-bind:class="{ focused: scNumberOfPaymentsPerYearIsFocused }">
                <label class="field-label" for="sc-number-of-payments-per-year">
                    Количество выплат в год:
                </label>
                <input class="field"
                       id="sc-number-of-payments-per-year"
                       type="number"
                       min="1"
                       step="1"
                       v-on:input.prevent="setScNumberOfPaymentsPerYearValue($event.target.value)"
                       v-on:focus="scNumberOfPaymentsPerYearIsFocused = true"
                       v-on:focusout="scNumberOfPaymentsPerYearIsFocused = false"
                       v-bind:value="scNumberOfPaymentsPerYearValue"
                       v-bind:class="{ blink: scNumberOfPaymentsPerYearIsBlinked }"
                       required
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: scNumberOfYearsIsUnknown, focused: scNumberOfYearsIsFocused }"
            >
                <label class="field-label" for="sc-number-of-years">
                    Количество лет:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: scNumberOfYearsIsUnknown }"
                           v-on:click.prevent="changeScNumberOfYearsUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scNumberOfYearsIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-number-of-years"
                       type="number"
                       min="1"
                       step="1"
                       v-on:input.prevent="setScNumberOfYearsValue($event.target.value)"
                       v-on:focus="scNumberOfYearsIsFocused = true"
                       v-on:focusout="scNumberOfYearsIsFocused = false"
                       v-bind:value="scNumberOfYearsValue"
                       v-bind:readonly="scNumberOfYearsIsUnknown"
                       v-bind:required="scNumberOfYearsIsRequired"
                       v-bind:class="{ blink: scNumberOfYearsIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: scInterestRatePerYearIsUnknown, focused: scInterestRatePerYearIsFocused }"
            >
                <label class="field-label" for="sc-interest-rate-per-year">
                    Ставка размещения в % годовых:
                </label>
{#                <div class="unknown">#}
{#                    <label v-bind:class="{ checked: scInterestRatePerYearIsUnknown }"#}
{#                           v-on:click.prevent="changeScInterestRatePerYearUnknowing"#}
{#                    >#}
{#                        <input type="checkbox" v-bind:checked="scInterestRatePerYearIsUnknown">#}
{#                        <span>неизвестная величина</span>#}
{#                    </label>#}
{#                </div>#}
                <input class="field"
                       id="sc-interest-rate-per-year"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setScInterestRatePerYearValue($event.target.value)"
                       v-on:focus="scInterestRatePerYearIsFocused = true"
                       v-on:focusout="scInterestRatePerYearIsFocused = false"
                       v-bind:value="scInterestRatePerYearValue"
                       v-bind:readonly="scInterestRatePerYearIsUnknown"
                       v-bind:required="scInterestRatePerYearIsRequired"
                       v-bind:class="{ blink: scInterestRatePerYearIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: scFinalAmountIsUnknown, focused: scFinalAmountIsFocused }"
            >
                <label class="field-label" for="sc-final-amount">
                    Конечная сумма:
                </label>
                <div class="unknown">
                    <label v-bind:class="{ checked: scFinalAmountIsUnknown }"
                           v-on:click.prevent="changeScFinalAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scFinalAmountIsUnknown">
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-final-amount"
                       type="number"
                       min="0"
                       step="0.01"
                       v-on:input.prevent="setScFinalAmountValue($event.target.value)"
                       v-on:focus="scFinalAmountIsFocused = true"
                       v-on:focusout="scFinalAmountIsFocused = false"
                       v-bind:value="scFinalAmountValue"
                       v-bind:readonly="scFinalAmountIsUnknown"
                       v-bind:required="scFinalAmountIsRequired"
                       v-bind:class="{ blink: scFinalAmountIsBlinked }"
                >
            </div>

            <div class="form-row" v-bind:class="{ focused: scNumberOfYearsUntilFistPaymentIsFocused }">
                <label class="field-label" for="sc-number-of-years-until-first-payment">
                    Количество лет до первой выплаты:
                </label>
                <input class="field"
                       id="sc-number-of-years-until-first-payment"
                       type="number"
                       min="0"
                       step="1"
                       v-on:input.prevent="setScNumberOfYearsUntilFistPaymentValue($event.target.value)"
                       v-on:focus="scNumberOfYearsUntilFistPaymentIsFocused = true"
                       v-on:focusout="scNumberOfYearsUntilFistPaymentIsFocused = false"
                       v-bind:value="scNumberOfYearsUntilFistPaymentValue"
                       v-bind:class="{ blink: scNumberOfYearsUntilFistPaymentIsBlinked }"
                       required
                >
            </div>

            <div class="form-row" v-bind:class="{ focused: scInflationIsFocused }">
                <label class="field-label" for="sc-inflation">
                    Инфляция в % годовых:
                </label>
                <input class="field"
                       id="sc-inflation"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setScInflationValue($event.target.value)"
                       v-on:focus="scInflationIsFocused = true"
                       v-on:focusout="scInflationIsFocused = false"
                       v-bind:value="scInflationValue"
                       v-bind:class="{ blink: scInflationIsBlinked }"
                       required
                >
            </div>

            <ul class="errors" style="display: none;" v-show="scIsErrorResult">
                <li v-for="error in scErrors">${ error }</li>
            </ul>

            <div>
                <button type="submit"
                        v-bind:class="{ disabled: scCalculationIsDisabled }"
                        v-on:click="doSpendSubmit($event)"
                >
                    Рассчитать
                </button>
            </div>
        </form>
    </section>
{% endblock main %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {% if app.environment == 'dev' %}
        <script src="https://unpkg.com/vue@3.1.4/dist/vue.global.js"></script>
    {% else %}
        <script src="https://unpkg.com/vue@3.1.4/dist/vue.global.prod.js"></script>
    {% endif %}

    <script src="{{ asset('js/calculator.js?v=10721f') }}"></script>
{% endblock %}
