{% extends 'base.html.twig' %}

{% block description %}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calculator.css?v=7721') }}">
{% endblock %}

{% block main %}
    <h1>Инвестиционный калькулятор</h1>

    <nav>
        <a href="#income" v-bind:class="{ active: icIsActive }" @click.prevent="activeIncomeCalculator">
            накопление
        </a>
        <div class="separator"></div>
        <a href="#spend" v-bind:class="{ active: scIsActive }" @click.prevent="activeSpendCalculator">
            использование
        </a>
    </nav>

    <section class="calculator" id="income" v-show="icIsActive">
        <h2>Накопление</h2>

        <form v-on:submit.prevent="doIncomeCalc">
            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: icInitialAmountIsUnknown }"
                       for="ic-initial-amount"
                >
                    Начальная сумма размещения:
                </label>
                <input class="field"
                       id="ic-initial-amount"
                       type="number"
                       min="0"
                       step="0.01"
                       v-model.number="icInitialAmountValue"
                       v-bind:disabled="icInitialAmountIsUnknown"
                       v-bind:required="icInitialAmountIsRequired"
                       v-bind:class="{ blink: icInitialAmountIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: icInitialAmountIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeIcInitialAmountUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: icRegularPaymentIsUnknown }"
                       for="ic-regular-payment"
                >
                    Сумма регулярного взноса:
                </label>
                <input class="field"
                       id="ic-regular-payment"
                       type="number"
                       min="0"
                       step="0.01"
                       v-model.number="icRegularPaymentValue"
                       v-bind:disabled="icRegularPaymentIsUnknown"
                       v-bind:required="icRegularPaymentIsRequired"
                       v-bind:class="{ blink: icRegularPaymentIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: icRegularPaymentIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeIcRegularPaymentUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label" for="ic-number-of-regular-payments-per-year">
                    Количество взносов в год:
                </label>
                <input class="field"
                       id="ic-number-of-regular-payments-per-year"
                       type="number"
                       min="0"
                       step="1"
                       v-model.number="icNumberOfRegularPaymentsPerYearValue"
                       v-bind:class="{ blink: icNumberOfRegularPaymentsPerYearIsBlinked }"
                       required
                >
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: icNumberOfYearsIsUnknown }"
                       for="ic-number-of-years"
                >
                    Количество лет:
                </label>
                <input class="field"
                       id="ic-number-of-years"
                       type="number"
                       min="1"
                       step="1"
                       v-model.number="icNumberOfYearsValue"
                       v-bind:disabled="icNumberOfYearsIsUnknown"
                       v-bind:required="icNumberOfYearsIsRequired"
                       v-bind:class="{ blink: icNumberOfYearsIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: icNumberOfYearsIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeIcNumberOfYearsUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: icInterestRatePerYearIsUnknown }"
                       for="ic-interest-rate-per-year"
                >
                    Ставка размещения в % годовых:
                </label>
                <input class="field"
                       id="ic-interest-rate-per-year"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-model.number="icInterestRatePerYearValue"
                       v-bind:disabled="icInterestRatePerYearIsUnknown"
                       v-bind:required="icInterestRatePerYearIsRequired"
                       v-bind:class="{ blink: icInterestRatePerYearIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: icInterestRatePerYearIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeIcInterestRatePerYearUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: icFinalAmountIsUnknown }"
                       for="ic-final-amount"
                >
                    Сумма накопления:
                </label>
                <input class="field"
                       id="ic-final-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-model.number="icFinalAmountValue"
                       v-bind:disabled="icFinalAmountIsUnknown"
                       v-bind:required="icFinalAmountIsRequired"
                       v-bind:class="{ blink: icFinalAmountIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: icFinalAmountIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeIcFinalAmountUnknowing"
                        >
                    </label>
                </div>
            </div>

            <ul class="errors" style="display: none;" v-show="icIsErrorResult">
                <li v-for="error in icErrors">${ error }</li>
            </ul>

            <div>
                <button type="submit"
                        v-bind:class="{ disabled: icCalculationIsDisabled }"
                        v-on:click="doIncomeSubmit($event)"
                >
                    Рассчитать
                </button>
            </div>
        </form>
    </section>

    <section class="calculator" id="spend" style="display: none;" v-show="scIsActive">
        <h2>Использование</h2>

        <form v-on:submit.prevent="doSpendCalc">
            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: scInitialAmountIsUnknown }"
                       for="sc-initial-amount"
                >
                    Начальная сумма:
                </label>
                <input class="field"
                       id="sc-initial-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-model.number="scInitialAmountValue"
                       v-bind:disabled="scInitialAmountIsUnknown"
                       v-bind:required="scInitialAmountIsRequired"
                       v-bind:class="{ blink: scInitialAmountIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: scInitialAmountIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeScInitialAmountUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: scPaymentAmountIsUnknown }"
                       for="sc-payment-amount"
                >
                    Сумма выплаты:
                </label>
                <input class="field"
                       id="sc-payment-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-model.number="scPaymentAmountValue"
                       v-bind:disabled="scPaymentAmountIsUnknown"
                       v-bind:required="scPaymentAmountIsRequired"
                       v-bind:class="{ blink: scPaymentAmountIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: scPaymentAmountIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeScPaymentAmountUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label" for="sc-number-of-payments-per-year">Количество выплат в год:</label>
                <input class="field"
                       id="sc-number-of-payments-per-year"
                       type="number"
                       min="1"
                       step="1"
                       v-model.number="scNumberOfPaymentsPerYearValue"
                       v-bind:class="{ blink: scNumberOfPaymentsPerYearIsBlinked }"
                       required
                >
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: scNumberOfYearsIsUnknown }"
                       for="sc-number-of-years"
                >
                    Количество лет:
                </label>
                <input class="field"
                       id="sc-number-of-years"
                       type="number"
                       min="1"
                       step="1"
                       v-model.number="scNumberOfYearsValue"
                       v-bind:disabled="scNumberOfYearsIsUnknown"
                       v-bind:required="scNumberOfYearsIsRequired"
                       v-bind:class="{ blink: scNumberOfYearsIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: scNumberOfYearsIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeScNumberOfYearsUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: scInterestRatePerYearIsUnknown }"
                       for="sc-interest-rate-per-year"
                >
                    Ставка размещения в % годовых:
                </label>
                <input class="field"
                       id="sc-interest-rate-per-year"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-model.number="scInterestRatePerYearValue"
                       v-bind:disabled="scInterestRatePerYearIsUnknown"
                       v-bind:required="scInterestRatePerYearIsRequired"
                       v-bind:class="{ blink: scInterestRatePerYearIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: scInterestRatePerYearIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeScInterestRatePerYearUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label"
                       v-bind:class="{ disabled: scFinalAmountIsUnknown }"
                       for="sc-final-amount"
                >
                    Конечная сумма:
                </label>
                <input class="field"
                       id="sc-final-amount"
                       type="number"
                       min="0"
                       step="0.01"
                       v-model.number="scFinalAmountValue"
                       v-bind:disabled="scFinalAmountIsUnknown"
                       v-bind:required="scFinalAmountIsRequired"
                       v-bind:class="{ blink: scFinalAmountIsBlinked }"
                >
                <div class="unknown">
                    <label v-bind:class="{ checked: scFinalAmountIsUnknown }">
                        неизвестная величина
                        <input type="checkbox"
                               v-on:change="changeScFinalAmountUnknowing"
                        >
                    </label>
                </div>
            </div>

            <div>
                <label class="field-label" for="sc-number-of-years-until-forst-payment">
                    Количество лет до первой выплаты:
                </label>
                <input class="field"
                       id="sc-number-of-years-until-forst-payment"
                       type="number"
                       min="0"
                       step="1"
                       v-model.number="scNumberOfYearsUntilFistPaymentValue"
                       v-bind:class="{ blink: scNumberOfYearsUntilFistPaymentIsBlinked }"
                       required
                >
            </div>

            <div>
                <label class="field-label" for="sc-inflation">Инфляция в % годовых:</label>
                <input class="field"
                       id="sc-inflation"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-model.number="scInflationValue"
                       v-bind:class="{ blink: scInflationIsBlinked }"
                       required
                >
            </div>

            <ul class="errors" style="display: none;" v-show="scIsErrorResult">
                <li v-for="error in scErrors">${ error }</li>
            </ul>

            <div>
                <button type="submit"
                        v-bind:class="{ disabled: scCalculationIsDisabled }"
                        v-on:click="doSpendSubmit($event)"
                >
                    Рассчитать
                </button>
            </div>
        </form>
    </section>
{% endblock main %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {% if app.environment == 'dev' %}
        <script src="https://unpkg.com/vue@3.1.4/dist/vue.global.js"></script>
    {% else %}
        <script src="https://unpkg.com/vue@3.1.4/dist/vue.global.prod.js"></script>
    {% endif %}

    <script src="{{ asset('js/calculator.js?v=7721') }}"></script>
{% endblock %}
