{% extends 'base.html.twig' %}

{% block description %}Политика конфиденциальности сайта simpleasmoney.com.{% endblock %}

{% block keywords %}политика конфиденциальности, сбор данных, технические данные, cookies, обратная связь{% endblock %}

{% block title %}Политика конфиденциальности | {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/policy.css?v=13721') }}">
{% endblock %}

{% block main %}
    <article>
        <h1>Политика конфиденциальности</h1>
        <p>
            Администрация сайта simpleasmoney.com обязуется сохранять вашу конфиденциальность в Интернете.
            Мы уделяем большое значение охране предоставленных вами данных. Наша политика конфиденциальности
            основана на требованиях <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en" target="_blank">Общего регламента о защите персональных данных Европейского Союза (GDPR)</a>.
            Цели, в которых мы собираем персональные данные: улучшение работы нашего сервиса, осуществление
            контактов с посетителями данного сайта, новостная рассылка по электронной почте, предоставление
            информации, которую запрашивал пользователь, осуществление услуг, связанных с направлением деятельности
            данного сайта, а так же для указанных ниже действий.
        </p>
        <h2>Сбор и использование персональных данных</h2>
        <p>
            Мы собираем и используем ваши персональные данные только в случае вашего добровольного согласия.
            При согласии с этим вы разрешаете нам собирать и использовать следующие данные: электронная почта.
            Сбор и обработка ваших данных проводится соответствии с законами, действующими на территориях
            Европейского Союза и Российской Федерации.
        </p>
        <h2>Хранение данных, изменение и удаление</h2>
        <p>
            Пользователь, предоставивший свои персональные данные сайту simpleasmoney.com имеет право на их
            изменение и удаление, а так же на отзыв своего согласия с их использованием. Срок, в течение которого
            будут храниться ваши персональные данные: время, необходимое для использования данных для основной
            деятельности сайта. При завершении использования ваших данных администрация сайта удаляет их. Для
            доступа к своим персональным данным вы можете связаться с администрацией сайта по следующему адресу:
            <a href="mailto:info@simpleasmoney.com">info@simpleasmoney.com</a>. Мы можем передавать ваши личные
            данные третьей стороне только с вашего добровольного согласия, если они были переданы, то изменение
            данных в других организациях, не связанных с нами, мы осуществить не можем.
        </p>
        <h2>Использование технических данных при посещении сайта</h2>
        <p>
            При посещении вами сайта <a href="/">simpleasmoney.com</a> в базе данных сохраняются записи о вашем IP
            адресе, времени посещения, настройках браузера, операционной системе, а также другая техническая
            информация необходимая для корректного отображения содержимого сайта. По этим данным нам невозможно
            идентифицировать личность посетителя.
        </p>
        <h2>Предоставление информации детьми</h2>
        <p>
            Если Вы являетесь родителем или опекуном, и вы знаете, что ваши дети предоставили нам свои личные
            данные без Вашего согласия, свяжитесь с нами:
            <a href="mailto:info@simpleasmoney.com">info@simpleasmoney.com</a>. На нашем сервисе запрещено
            оставлять личные данные несовершеннолетних без согласия родителей или опекунов.
        </p>
        <h2>Использование cookies</h2>
        <p>
            Для корректного отображения содержимого и для удобства использования сайта
            <a href="/">simpleasmoney.com</a> мы используем cookie файлы. Это небольшие файлы, которые хранятся
            на вашем устройстве. Они помогают сайту запомнить информацию о вас, например на каком языке вы
            просматриваете сайт и какие страницы вы уже открывали, эта информация будет полезна при следующем
            посещении. Благодаря файлам cookie просмотр сайта становится значительно более удобным.
            Подробнее про эти файлы вы можете
            <a href="https://ru.wikipedia.org/wiki/Cookie" target="_blank">прочитать тут</a>.
            Вы можете настроить прием или блокировку cookie в браузере самостоятельно. Невозможность принимать
            cookie может ограничить работоспособность сайта.
        </p>
        <h2>Использование персональных данных другими сервисами</h2>
        <p>
            На этом сайте используются сторонние интернет-сервисы, осуществляющие независимый от нас сбор
            информации: Google Analytics, Yandex.Metrica. Собранные ими данные могут предоставляться другим
            службам внутри этих организаций, они могут использовать данные для персонализации рекламы своей
            собственной рекламной сети. Вы можете прочитать пользовательские соглашения этих организаций на
            их сайтах. Мы не передаем персональные данные другим организациям и службам, не указанным в данной
            политике конфиденциальности. Исключение составляет только передача информации при законных требованиях
            государственных органов уполномоченных осуществлять данные действия.
        </p>
        <h2>Ссылки на другие сайты</h2>
        <p>
            Наш сайт <a href="/">simpleasmoney.com</a> может содержать ссылки на другие сайты, которые не
            управляются нами. Мы не несем ответственность за их содержание. Мы рекомендуем вам ознакомиться
            с политикой конфиденциальности каждого сайта, который вы посещаете, если она там есть.
        </p>
        <h2>Изменения в политике конфиденциальности</h2>
        <p>
            Наш сайт <a href="/">simpleasmoney.com</a> может обновлять нашу политику конфиденциальности время от
            времени. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на этой странице.
            Мы отслеживаем изменения законодательства, касающегося персональных данных в Европейском Союзе и в
            государстве Россия. Если вы оставили персональные данные у нас, то мы оповестим вас об изменении в
            политике конфиденциальности. Если ваши персональные данные были введены не корректно, то мы не сможем
            с вами связаться.
        </p>
        <h2>Обратная связь, заключительные положения</h2>
        <p>
            Связаться с администрацией сайта <a href="/">simpleasmoney.com</a> по вопросам, связанным с политикой
            конфиденциальности можно по адресу: <a href="mailto:info@simpleasmoney.com">info@simpleasmoney.com</a>.
            Если вы не согласны с данной политикой конфиденциальности, вы не можете пользоваться услугами сайта
            <a href="/">simpleasmoney.com</a>, в этом случае вы должны воздержаться от посещения нашего сайта.
        </p>
    </article>
{% endblock %}

{% block footer_menu %}
    <a href="{{ url('static_homepage') }}">Главная страница</a>
{% endblock %}
